@import url(colors.css);
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Sometype Mono', monospace;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('../sources/ValorantBG1.jpeg') no-repeat;
    background-size: cover;
    background-position: center;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 10px 100px;
    background-color: var(--color-red-second);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    border-bottom: 2px solid var(--color-white);
    flex: 2;
    
}

.logo {
    font-size: 2em;
    color: var(--color-white);
    user-select: nones;
    font-weight: 500;
}

.nav a {
    position: relative;
    font-size: 1.1em;
    color: var(--color-white);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: var(--color-white);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.nav a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.nav .btnLogin {

    width: 100px;
    height: 40px;
    background-color: transparent;
    border: 2px solid var(--color-white);
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1em;
    color: var(--color-white);
    margin-left: 40px;
    transition: .5s;
    font-weight: 600;
    text-transform: uppercase;

}

.nav .btnLogin:hover {

    background-color: var(--color-white);
    color: var(--color-red-second);

}

.container {
    background-color: var(--color-red-second);
    margin-top: 60px;
    width: 1200px;
    height: calc(100vh - 60px);
    z-index: 99;
    border-right: 2px solid var(--color-white);
    border-left: 2px solid var(--color-white);
    display: grid;
    grid-template-areas: 
    "squad squad"
    "top schedule";
    gap: 20px;
}


.topSquad {

    background-color: var(--color-white);
    grid-area: squad;
    margin: 20px 20px 0px 20px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.topScore {

    background-color: var(--color-white); 
    grid-area: top;
    margin: 0px 0px 20px 20px;

}


.schedule {

    background-color: var(--color-white);
    grid-area: schedule;
    margin: 0px 20px 20px 0px;

}

#topSquad li {
    display: inline-block;
    padding: 20px;
    text-align: center;

}

#topSquad li img {
    width: 120px;
    height: 120px;
    background-color: var(--color-grey-second);
    border: solid 5px var(--color-red-second);
}

.topSquad h1 {
    -webkit-text-stroke: 0.2px var(--color-red-second);
    color: var(--color-white);
    font-size: 48px;
}
